
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}



@model LoginUser


<div class="full_container d-flex justify-content-center align-items-center">
  
    <form class="d-flex justify-content-center align-items-center p-4 loginForm rounded-1 mb-5" asp-action="Post" method="post">
        <div class="form-row left_side">
            <div class="form-group justify-content-center align-items-center flex-direction-column">
                <p class="fw-bold text-center welcomeBack">Welcome Back!</p>
                <p class="fw-light form_text_lightgrey text-center excited">We're so excited to see you again!</p>
            </div>
     
    
            <div class="form-group mb-2">
                  <label class="form_text_lightgrey fw-bold mb-2 text-uppercase form-label-font" asp-for="Email">Email or phone number</label>
                <input asp-for="@Model.Email" type="text" class="form-control bg-dark border-dark text-white" id="formGroupExampleInput">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                    <label  class="form_text_lightgrey fw-bold mb-2 text-uppercase form-label-font" asp-for="Password"></label>
                    <input asp-for="@Model.Password" type="password" class="form-control bg-dark border-dark text-white" id="formGroupExampleInput">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
             </div>
            <a class="text-primary mt-5 swaglord" asp-area="" asp-controller="Home" asp-action="Privacy">Forgot your password?</a>
            <button class="col-md-12 mt-4 loginBtn" type="submit">Log in</button>
        </div>

         <div class="form-row qr_side">
            <img class="qr_code"src="~/qr_code.png"/>
            <p class="mt-4">Login with the QR Code</p>
            <p>Scan this app to login instantly</p>
   
        </div>


    </form>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
   
        

    }

    <script>
//       const url = "https://weatherapi-com.p.rapidapi.com/current.json?q=53.1%2C-0.13";
//        const options = {
//	method: 'GET',
//	headers: {
//		'X-RapidAPI-Key': 'cbdec378c8mshfe41795a7bdc811p1ae758jsn9534bad29014',
//		'X-RapidAPI-Host': 'weatherapi-com.p.rapidapi.com'
//	}
//};


//        const test = async () => {
//               try {
  
//            const swag = await fetch(url, options);
//            const data = await swag.json();
//            console.log(data);
//        } catch (error) {
//            console.log(error);
//        }
//        }

        test();


     
        
      
    </script>
}
