* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


ul li {
    list-style:none;
    font-weight:500;
}

a {
    text-decoration:none;
    color:white;
}



    a:visited {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: white;
        text-decoration:underline;
    }
    a:active {

        color: white;
    }


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: #404eed;
    height:10vh;
}
body {
  margin-bottom: 60px;
}


ul li a {
    color:white;
}


.top_div {
    background-color: #404eed;
    height: 60vh;
 
}

